{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Calculatrice</title>
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}" />
  </head>
  <body>
    <div>
      <h1>Application Calculatrice</h1>
      <h2>Une petite application construite avec django</h2>
      <h3>Calcul avec formulaire</h3>
    </div>

    <section>
      <div>
        <form method="post">
          {% csrf_token %}
          <input
            type="number"
            name="first"
            placeholder="Entrez le premier nombre"
          />
          <select name="operation">
            <option disabled selected value="">Choisissez un opérateur</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
          </select>
          <input
            type="number"
            name="second"
            placeholder="Entrez le second nombre"
          />
          <input class="button-1" type="submit" value="Soumettre" />
        </form>
      </div>
    </section>

    <footer>
      <a href="/string"> Accéder au calcul par expression </a>
    </footer>
  </body>
</html>
